TURSO_DATABASE_URL=libsql://memorial-tiabete575-hue.aws-sa-east-1.turso.io
TURSO_AUTH_TOKEN=cole_aqui_um_novo_token_do_Turso
R2_ACCOUNT_ID=seu_account_id_da_cloudflare
R2_ACCESS_KEY_ID=sua_access_key_do_R2
R2_SECRET_ACCESS_KEY=seu_secret_access_key_do_R2
R2_BUCKET_NAME=memorial-familia
PORT=3001
