TURSO_DATABASE_URL=libsql://memorial-tiabete575-hue.aws-sa-east-1.turso.io
TURSO_AUTH_TOKEN=cole_aqui_um_token_novo_do_Turso
CLOUDINARY_CLOUD_NAME=hupg7sgn
CLOUDINARY_API_KEY=947841284413396
CLOUDINARY_API_SECRET=cole_aqui_seu_api_secret
PORT=3001
